__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
*.egg
.env
.venv/
venv/
env/
ENV/
pip-log.txt
pip-delete-this-directory.txt
.vscode/
*.log
*.pid
.pytest_cache/
.cache/
.ipynb_checkpoints/
.DS_Store

.config/
